.d-flex
  display: flex !important

.flex-column
  flex-direction: column !important

.justify-content-center
  justify-content: center !important

.justify-content-end
  justify-content: flex-end !important

.text-dark
  color: #000000 !important

.mb-3
  margin-bottom: 1rem !important

.hero-item
  background-position: center !important

.little_logo
  max-height: 33px

.big_logo
  max-height: 148px

.member
  img
    height: 488px
    width: 360px
    object-fit: cover

.nav-pills
  li.active
    a
      color: #337ab7
      background-color: #2be6ab
      &:hover
        color: #2be6ab
      &:focus
        color: #2be6ab
