.d-flex
  display: flex !important

.flex-column
  flex-direction: column !important

.justify-content-center
  justify-content: center !important

.justify-content-end
  justify-content: flex-end !important

.text-dark
  color: #000000 !important

.mb-3
  margin-bottom: 1rem !important

.hero-item
  background-position: center !important

.little_logo
  max-height: 33px !important

.big_logo
  max-height: 148px !important

.member
  img
    height: 488px !important
    width: 360px !important
    object-fit: cover !important

.nav-pills
  li.active
    a
      color: #337ab7 !important
      background-color: #2be6ab !important
      &:hover
        color: #2be6ab !important
      &:focus
        color: #337ab7 !important

.label-file
  width: 100%
  margin-bottom: 26px
  border: none
  background: #f6edfb
  padding: 17px 20px

.service, .icon-box
  display: block !important

.icon-box.left .icon
  margin-left: 0

body
  overflow-wrap: break-word

.site-btn
  overflow-wrap: normal

.intro-video>.row>.col-md-8>img
  height: 405px !important
  width: 100%
  object-fit: cover !important
